# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Models
# Models
# models/*.pkl
# models/*.joblib

# Environment
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Docker
sqlserver_data/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

project_info.md
